body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    transition: margin-left 0.3s; /* 过渡效果 */
    overflow-y: scroll; /* 始终显示垂直滚动条 */
}

h1 {
    text-align: center;
}

.sidebar {
    position: fixed; /* 固定定位 */
    top: 0;
    left: 0;
    width: 200px;
    height: 100%; /* 全屏高度 */
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* 如果内容超出则出现滚动条 */
    transition: transform 0.3s; /* 过渡效果 */
}


.sidebar.hidden {
    transform: translateX(-195px); /* 隐藏侧边栏但露出5px */
 } 

#toggleSidebar {
    position: fixed;
    top: 20px;
    left: 200px; /* 初始状态按钮在侧边栏外 */
    z-index: 1000;
    background-color: #f4f4f4;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s; /* 按钮位置过渡效果 */
}

body.sidebar-hidden #toggleSidebar {
    left: 5px; /* 侧边栏隐藏时按钮位置 */
}

.custom-button1 {
    position: absolute; /* 绝对定位 */
    top: 86%; /* 距离顶部90% */
    left: 50%;
    transform: translate(-50%, -50%); /* 使按钮居中 */
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    width: 150px;
}

.custom-button2 {
    position: absolute; /* 绝对定位 */
    top: 90%; /* 距离顶部90% */
    left: 50%;
    transform: translate(-50%, -50%); /* 使按钮居中 */
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    width: 150px;
}

.content {
    padding: 20px;
    margin-left: 260px; /* 内容部分距离左侧一定距离，避开侧边栏 */
    transition: margin-left 0.3s; /* 过渡效果 */
}

/* @media (max-width: 760px){
	.content {
	    padding: 20px;
	    transition: margin-left 0.3s; 
	}
} */

/* body.sidebar-hidden .content {
    margin-left: 40px; /* 侧边栏隐藏时内容部分距离左侧的距离 
} */

.tables {
    display: flex;
	
    justify-content: center; /* 确保父容器中的内容居中对齐 */
    /* width: calc(100% - 240px); */ /* 确保表格部分不被侧边栏覆盖，留出空隙 */
    margin: 0 auto;
}


section {
    width: 50%; /* 每个section占50%宽度 */
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
	
    /* width: 100%; */
     /* max-width: 1600px; */ /* 限制最大宽度 */ */
}

th, td {
    padding: 10px;
    text-align: center; /* 水平居中 */
    vertical-align: middle; /* 垂直居中 */
    border: 1px solid black;
    width: 100px; /* 固定单元格宽度 */
    font-size: 14px; /* 字号大小 */
}


@media (max-width: 767px) {
	.custom-button1 {
	    position: absolute; /* 绝对定位 */
	    top: 85%; /* 距离顶部90% */
	    left: 50%;
	    transform: translate(-50%, -50%); /* 使按钮居中 */
	    font-size: 16px;
	    background-color: #4CAF50;
	    color: white;
	    border: none;
	    border-radius: 4px;
	    width: 150px;
	} 
    th, td {
        padding: 5px;
        text-align: center; /* 水平居中 */
        vertical-align: middle; /* 垂直居中 */
        border: 1px solid black;
        width: 50px; /* 固定单元格宽度 */
        font-size: 10px; /* 字号大小 */
		height: 10px;
		white-space: nowrap; /* 禁止换行 */
    }


	 .tables {
	    margin-left: 170px;
	 }
	 .table {
		 table-layout: fixed;
	 }
}

@media (min-width: 768px) and (max-width: 1024px) {
    	.custom-button1 {
    	    position: absolute; /* 绝对定位 */
    	    top: 85%; /* 距离顶部90% */
    	    left: 50%;
    	    transform: translate(-50%, -50%); /* 使按钮居中 */
    	    font-size: 16px;
    	    background-color: #4CAF50;
    	    color: white;
    	    border: none;
    	    border-radius: 4px;
    	    width: 150px;
    	}
        th, td {
            padding: 5px;
            text-align: center; /* 水平居中 */
            vertical-align: middle; /* 垂直居中 */
            border: 1px solid black;
            width: 80px; /* 固定单元格宽度 */
            font-size: 12px; /* 字号大小 */
			height: 20px;
			white-space: nowrap; /* 禁止换行 */
        }
		.tables {
		   margin-left: 40px;
		}
}
@media (min-width: 1025px) and (max-width: 1920px) {
    	.custom-button1 {
    	    position: absolute; /* 绝对定位 */
    	    top: 85%; /* 距离顶部90% */
    	    left: 50%;
    	    transform: translate(-50%, -50%); /* 使按钮居中 */
    	    font-size: 16px;
    	    background-color: #4CAF50;
    	    color: white;
    	    border: none;
    	    border-radius: 4px;
    	    width: 150px;
    	}
        th, td {
            padding: 8px;
            text-align: center; /* 水平居中 */
            vertical-align: middle; /* 垂直居中 */
            border: 1px solid black;
            width: 80px; /* 固定单元格宽度 */
            font-size: 12px; /* 字号大小 */
			white-space: nowrap; /* 禁止换行 */
        }
		
}

/* th {
    background-color: #aaffff;
} */

.sums-row td {
    background-color: #aaffff;
}

.sums-row_ads td {
    background-color: #ffaa00;
}
.button-box {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
}

.button1 {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50px;
    display: flex;
    justify-content: center;
}

button:hover {
    background-color: #45a049;
}

/* 设置侧边栏标题的样式 */
.sidebar h2 {
    color: #333333;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* 设置导航链接的样式 */
.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: #333333;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

/* 悬停时的导航链接样式 */
.sidebar ul li a:hover {
    background-color: #bebebe;
}
