<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elehear Ops-Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	<style>
		@media (max-width: 1440px){
			.shopify-tittle{
				margin-left: 400px; 
				width: 200px;
			}
		}
		@media (max-width: 768px){
			.shopify-tittle{
				margin-left: 350px; 
				width: 200px;
			}
		}
		@media (min-width: 768px) and (max-width: 1025px){
			.shopify-tittle{
				margin-left: 550px; 
				width: 200px;
			}
		}
		@media (max-width: 1440px){
			.shopify-table{
				margin-left: 400px;
			}
		}
	</style>
</head>
<body>
    <div class="button1" id="toggleSidebar">☰</div>
    <div class="sidebar" id="sidebar">
        <h2>导航</h2>
        <ul>
            <li><a href="{{ url_for('index') }}">Shopify</a></li>
            <li><a href="{{ url_for('ads_page') }}">Ads</a></li>
			<li><a href="https://github.com/Tabby-Cat798/Elehear-Ops-Panel/blob/traditional/README.md" target="_blank">README</a></li>
            <!-- 可以添加更多的导航链接 -->
        </ul>
        <form action="{{ url_for('export_shopify_data') }}" method="get" class="custom-button1" id="export-form">
            <input type="hidden" name="month" id="export-month">
            <button type="submit">Export Data</button>
        </form>
		<form action="{{ url_for('logout') }}" method="post" class="custom-button2">
		    <button type="submit">Log Out</button>
		</form>
    </div>
    <h1 class="shopify-tittle" style="margin-top: 30px;">Shopify Data</h1>
    
	<div style="text-align: center; margin-bottom: 20px;">
		<label for="month-select">选择月份：</label>
		<input type="month" id="month-select">
	</div>

    
    <div class="tables">
        <table border="1" class="shopify-table">
            <thead>
                <tr id="table-header" style="background-color: #e3f2fd;">
                    <!-- 表头将在Ajax调用中动态填充 -->
                </tr>
                <tr id="table-sums" class="sums-row">
                    <!-- 汇总将在Ajax调用中动态填充 -->
                </tr>
            </thead>
            <tbody id="table-body" style="background-color: #ffffff;">
                <!-- 数据将在Ajax调用中动态填充 -->
            </tbody>
        </table>
    </div>
    <div class="button-box">
        <!-- 按钮框内容 -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        document.getElementById('toggleSidebar').addEventListener('click', function() {
            var sidebar = document.getElementById('sidebar');
            var body = document.body;
            
            if (sidebar.classList.contains('hidden')) {
                sidebar.classList.remove('hidden');
                body.classList.remove('sidebar-hidden');
            } else {
                sidebar.classList.add('hidden');
                body.classList.add('sidebar-hidden');
            }
        });

        document.getElementById('month-select').addEventListener('change', function() {
            var selectedMonth = this.value;
            fetchData(selectedMonth);
            document.getElementById('export-month').value = selectedMonth; // 更新导出表单的月份
        });

        function fetchData(month) {
            fetch(`/get_data_by_month?month=${month}`)
                .then(response => response.json())
                .then(data => {
                    updateTable(data.data, data.column_sums, data.columns);
                })
                .catch(error => console.error('Error loading the data: ', error));
        }

        function updateTable(data, columnSums, columns) {
            const tableHeader = document.getElementById('table-header');
            const tableSums = document.getElementById('table-sums');
            const tableBody = document.getElementById('table-body');

            // Clear existing data
            tableHeader.innerHTML = '';
            tableSums.innerHTML = '';
            tableBody.innerHTML = '';

            if (columns && columns.length > 0) {
                columns.push("conversion_rate");
                // Create table header
                columns.forEach(column => {
                    const th = document.createElement('th');
                    th.textContent = column;
                    tableHeader.appendChild(th);
                });

                // Create table body
                data.forEach(row => {
                    const tr = document.createElement('tr');
                    columns.forEach(column => {
                        const td = document.createElement('td');
                        // 处理日期列格式
                        if (column === 'date') {
                            const date = new Date(row[column]);
                            td.textContent = date.toISOString().split('T')[0]; // 格式化为 YYYY-MM-DD
                        } else {
                            td.textContent = row[column];
                        }
                        tr.appendChild(td);
                    });
                    tableBody.appendChild(tr);
                });

                // Create sums row
                columnSums.forEach((sum, index) => {
                    const td = document.createElement('td');
                    if (index === 0) {
                        td.textContent = sum; // 显示选择的月份
                    } else {
                        td.textContent = sum;
                    }
                    tableSums.appendChild(td);
                });
            } else {
                const tr = document.createElement('tr');
                const td = document.createElement('td');
                td.setAttribute('colspan', '100%');
                td.textContent = 'No records found for the selected period.';
                tr.appendChild(td);
                tableBody.appendChild(tr);
            }
        }

        // 初始加载所有数据
        document.getElementById('export-month').value = 'all';
        fetchData('all');
    </script>
</body>
</html>
